<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title><%= @title ? @title : "(Offline) blog" %></title>
  <link rel="stylesheet" type="text/css" href="/style.css" />
</head>
<body>
  <%= yield %>

  <% if request.path != "/" %>
    <div class="back-wrapper">
      <a href="/">Back to all posts</a>
    </div>
  <% end %>
</body>
</html>